@page "/cardDetails"
<PageTitle>Details for @_magicCardToReview?.name</PageTitle>
<Container Fluid Margin="Margin.Is2.OnY.OnFullHD.Is3.OnX.OnFullHD">
    <Row Flex="Flex.AlignItems.Center">
        <Column ColumnSize="ColumnSize.IsThird.OnTablet.IsQuarter.OnWidescreen.IsAuto.OnMobile">
            @if (_magicCardToReview is null)
            {
                <Span>
                    <SpinKit Centered Color="#E52B50" Type="SpinKitType.Chase" Size="3em" />
                    Loading Card Details..
                </Span>
            }
            <Card Background="Background.Dark"
                  TextColor="TextColor.Light"
                  Border="Border.Is2.Rounded.Light.OnAll"
                  Flex="Flex.JustifyContent.Around"
                  Padding="Padding.Is2.OnX">
                <CardHeader>
                    <Paragraph Flex="Flex.Row.Fill.Grow.Is1">
                        <Repeater TItem="string" Items="@_magicCardToReview.ManaCostSvgUris" Context="manaCostContext">
                            <Image Source="@manaCostContext"
                                   Text="@_magicCardToReview.manaCost"
                                   Style="height: 48px; width: 48px;"
                                   Border="Border.Is0.Rounded.OnAll.Light" />
                        </Repeater>
                    </Paragraph>
                </CardHeader>
                <CardImage Flex="Flex.JustifyContent.Center"
                           Alt="@_magicCardToReview.name"
                           Source="@_magicCardToReview.ScryfallImageUri"
                           data-srcset="@(String.Join(',', _magicCardToReview.ScryfallImagesAsSizes.ToList()))"
                           data-sizes="auto"
                           Class="lazyload" />
                <CardTitle Size="5">
                   Artist: @_magicCardToReview.artist
                </CardTitle>
                <CardSubtitle>
                    Types: <Text Italic TextWeight="TextWeight.Light">@_magicCardToReview.types</Text>
                </CardSubtitle>
                <CardBody>
                    <Heading Size="HeadingSize.Is4">Card Text:</Heading> @_magicCardToReview.text
                </CardBody>
                <CardBody>
                    <Heading Size="HeadingSize.Is4">Flavor Text:</Heading> @_magicCardToReview.flavorText
                </CardBody>
                <CardFooter>
                    <Paragraph>
                        View/Purchase On TCG Player: <Blazorise.Link TextColor="TextColor.Warning" To="@_magicCardToReview.purchaseUrls">@_magicCardToReview.name</Blazorise.Link>
                    </Paragraph>
                    <Paragraph>
                        <Small>Estimated Price in USD: <Text TextColor="TextColor.Danger">@_magicCardToReview.CurrentPrice</Text></Small>
                    </Paragraph>
                </CardFooter>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.Is9.OnTablet.Is8.OnWidescreen.IsAuto.OnMobile">
            <Card Border="Border.Is2.OnAll.Rounded.Light"
                  Background="Background.Dark"
                  TextColor="TextColor.Light"
                  Margin="Margin.Is2.FromBottom">
                <CardTitle Size="2"
                           Flex="Flex.JustifyContent.Center"
                           TextTransform="TextTransform.Capitalize"
                           TextWeight="TextWeight.Bold">
                    <Icon IconSize="IconSize.Large"
                          Name="IconName.Fingerprint"
                          IconStyle="IconStyle.Solid"
                          Margin="Margin.Is2.FromEnd"
                          TextColor="TextColor.Info" />
                    Other Printings for @_magicCardToReview?.name
                </CardTitle>
                <CardBody Flex="Flex.Row.AlignItems" TextOverflow="TextOverflow.Wrap">
                    <Repeater TItem="KeyValuePair<String, ScryfallSetDetails>" Items="_setValuePairs">
                        <Tooltip Placement="TooltipPlacement.TopEnd" Text="@context.Value.Name">
                            <Image Source="@context.Value.IconUri" 
                                   Text="@context.Key" 
                                   Style="width: 48px; height: 48px; background-color: darkgrey;"
                                   Margin="Margin.Is2.OnX"
                                   Border="Border.Is2.OnAll.Rounded.Light"/>
                        </Tooltip>
                    </Repeater>
                </CardBody>
            </Card>
            <Card Border="Border.Is2.OnAll.Rounded.Light"
                  Background="Background.Dark"
                  TextColor="TextColor.Light">
                <CardTitle Size="2"
                           Flex="Flex.JustifyContent.Center"
                           TextTransform="TextTransform.Capitalize"
                           TextWeight="TextWeight.Bold">
                    <Icon IconSize="IconSize.Large"
                          Name="IconName.ExclamationTriangle"
                          IconStyle="IconStyle.Solid"
                          Margin="Margin.Is2.FromEnd"
                          TextColor="TextColor.Warning" />
                    Legalities for @_magicCardToReview?.name
                </CardTitle>
                <CardBody>
                    <ListGroup Flush Background="Background.Transparent">
                        <Repeater TItem="Legality" Items="_magicCardToReview?.Legalities">
                            <ListGroupItem Background="Background.Transparent"
                                           TextColor="TextColor.Light"
                                           Border="Border.Is2.OnBottom.RoundedBottom.Light">
                                <Div Background="Background.Transparent"
                                     Flex="Flex.JustifyContent.Between.AlignItems.Stretch">
                                    <Heading Size="HeadingSize.Is4"
                                             Margin="Margin.Is1.FromBottom"
                                             TextWeight="TextWeight.Bold"
                                             TextTransform="TextTransform.Uppercase">@context.format</Heading>
                                    <Badge Color="@DetermineBackgroundFromStatus(context.status)"
                                           TextColor="@(context.status.Equals("Banned") ? TextColor.Light : TextColor.Dark)"
                                           TextTransform="TextTransform.Uppercase"
                                           Border="Border.Is2.OnAll.Rounded.Light"
                                           Pill>
                                        <Heading Size="HeadingSize.Is6"
                                                 TextAlignment="TextAlignment.Center"
                                                 TextWeight="TextWeight.Bold"
                                                 Class="text-decoration-underline"
                                                 Italic>
                                            <u>@context.status</u>
                                        </Heading>
                                    </Badge>
                                </Div>
                            </ListGroupItem>
                        </Repeater>
                    </ListGroup>
                </CardBody>
            </Card>
            @if (_rulings is null)
            {
                <Span>
                    <SpinKit Centered Type="SpinKitType.Chase" Color="#ff26e7" />
                    Loading Rulings...
                </Span>
            }
            else
            {
                <Card Background="Background.Dark"
                  TextColor="TextColor.Light"
                  Border="Border.Is2.OnAll.Rounded.Light"
                  Margin="Margin.Is2.OnY">
                    <CardTitle Size="2"
                           Flex="Flex.JustifyContent.Center"
                           TextTransform="TextTransform.Capitalize"
                           TextWeight="TextWeight.Bold">
                        <Icon IconSize="IconSize.Large"
                          Name="IconName.Key"
                          IconStyle="IconStyle.Solid"
                          TextColor="TextColor.Success"
                          Margin="Margin.Is2.FromEnd" />
                        @_magicCardToReview?.name is estimated to be affected by @_rulings.Count() rulings

                    </CardTitle>
                    <CardBody>
                        <ListGroup Flush Background="Background.Transparent">
                            @if (_rulings.Any())
                            {
                                <Repeater TItem="Ruling" Items="_rulings">
                                    <ListGroupItem TextColor="TextColor.Light" Border="Border.Is2.OnBottom.Rounded.Light" Background="Background.Transparent">
                                        <Div Background="Background.Transparent"
                                     Flex="Flex.JustifyContent.Between.AlignItems.Start">
                                            <Heading Size="HeadingSize.Is5"
                                             Margin="Margin.Is1.FromBottom"
                                             TextWeight="TextWeight.Bold">
                                                @context.RuleText
                                            </Heading>
                                            <Badge Color="Color.Primary"
                                           TextTransform="TextTransform.Uppercase"
                                           Border="Border.Is2.OnAll.Rounded.Light"
                                           Pill
                                           Class="fs-5 fw-light text-decoration-underline fw-bolder">
                                                @context.CreatedAt.ToShortDateString()
                                            </Badge>
                                        </Div>
                                    </ListGroupItem>
                                </Repeater>
                            }
                            else
                            {
                                <ListGroupItem Flex="Flex.JustifyContent.Between.AlignItems.Start" TextColor="TextColor.Danger" Border="Border.Is2.OnAll.Rounded.Light" Background="Background.Transparent">
                                    <Heading Size="HeadingSize.Is3"
                                     TextWeight="TextWeight.Bold"
                                     Margin="Margin.Is1.FromBottom">
                                        No known rulings found
                                    </Heading>
                                </ListGroupItem>
                            }
                        </ListGroup>
                    </CardBody>
                </Card>
            }
        </Column>
    </Row>
    <Row Margin="Margin.Is2.OnY">
        <Column ColumnSize="ColumnSize.Is3">
            <Buttons Role="ButtonsRole.Toolbar"
                     Background="Background.Dark"
                     Border="Border.Is2.OnAll.Rounded.Light"
                     Flex="Flex.Row.JustifyContent.Between.Grow.Is1">
                <Button Color="Color.Primary"
                        Type="ButtonType.Link"
                        To="/cards"
                        Border="Border.Is2.OnAll.Light">
                    Back to List
                </Button>
                <Button Color="Color.Success"
                        Type="ButtonType.Link"
                        To="/"
                        Border="Border.Is2.OnAll.Light">
                    <Icon IconStyle="IconStyle.Solid" TextColor="TextColor.White" Name="IconName.Home" /> Home
                </Button>
            </Buttons>
        </Column>
    </Row>
</Container>