@page "/symbols"
<Container Fluid
           Margin="Margin.Is2.OnAll.OnFullHD.Is4.OnAll.OnMobile"
           Shadow="Shadow.Default"
           Border="Border.Is2.Rounded.OnAll.Light"
           Background="Background.Dark"
           Width="Width.Is50">
<Tabs RenderMode="TabsRenderMode.LazyReload"
      SelectedTab="@_selectedTab"
      SelectedTabChanged="@OnSelectedTabChanged"
      Background="Background.Dark"
      TextColor="TextColor.Light"
      Flex="Flex.Row.AlignContent.Between"
      Margin="Margin.Is1.FromTop.OnFullHD.Is3.FromTop.OnMobile"
      FullWidth>
<Items>
    <Tab Name="manaCosts"
         Border="Border.Is1.Rounded.Light.OnAll" 
         TextWeight="TextWeight.Bold">
        Mana Costs
    </Tab>
    <Tab Name="manaRepresentatives"
         Border="Border.Is1.Rounded.Light.OnAll"
         TextWeight="TextWeight.Bold">
        Mana Representations
    </Tab>
    <Tab Name="transposables" 
         Border="Border.Is1.Rounded.Light.OnAll"
         TextWeight="TextWeight.Bold">
        Transposables
    </Tab>
    <Tab Name="funny"
         Border="Border.Is1.Rounded.Light.OnAll"
         TextWeight="TextWeight.Bold">
        Funny
    </Tab>
    <Tab Name="other"
         Border="Border.Is1.Rounded.Light.OnAll"
         TextWeight="TextWeight.Bold">
        Other
    </Tab>
</Items>
<Content>
    <TabPanel Name="manaCosts" Background="Background.Dark" TextColor="TextColor.Light">
        <Table Responsive
               Narrow
               Borderless
               Striped
               Background="Background.Dark"
               TextColor="TextColor.Light">
            <TableHeader ThemeContrast="ThemeContrast.Dark" Width="Width.Is100">
                <TableRow>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Image</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Text</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Description</Heading>
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody Width="Width.Is100">
                <Repeater TItem="SymbologyDatum" Items="@_manaCostSymbols" Context="manaSymbolContext">
                    <TableRow>
                        <TableRowCell>
                            <Image data-src="@manaSymbolContext.SvgUri" data-sizes="auto" Style="height:48px;width:48px;" Text="@manaSymbolContext.English" Class="lazyload" />
                        </TableRowCell>
                        <TableRowCell>
                            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom" TextColor="TextColor.Light">@manaSymbolContext.Symbol</Heading>
                        </TableRowCell>
                        <TableRowCell>
                            <Small TextColor="TextColor.Light">@manaSymbolContext.English</Small>
                        </TableRowCell>
                    </TableRow>
                </Repeater>
            </TableBody>
        </Table>
    </TabPanel>
    <TabPanel Name="manaRepresentatives" Background="Background.Dark" TextColor="TextColor.Light">
        <Table Responsive
               Narrow
               Borderless
               Striped
               Background="Background.Dark"
               TextColor="TextColor.Light">
            <TableHeader ThemeContrast="ThemeContrast.Dark" Width="Width.Is100">
                <TableRow>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Image</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Text</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Description</Heading>
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody Width="Width.Is100">
                <Repeater TItem="SymbologyDatum" Items="@_manaSymbols" Context="manaRepresentativeContext">
                    <TableRow>
                        <TableRowCell>
                            <Image data-src="@manaRepresentativeContext.SvgUri" data-sizes="auto" Style="height:48px;width:48px;" Text="@manaRepresentativeContext.English" Class="lazyload" />
                        </TableRowCell>
                        <TableRowCell>
                            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom" TextColor="TextColor.Light">@manaRepresentativeContext.Symbol</Heading>
                        </TableRowCell>
                        <TableRowCell>
                            <Small TextColor="TextColor.Light">@manaRepresentativeContext.English</Small>
                        </TableRowCell>
                    </TableRow>
                </Repeater>
            </TableBody>
        </Table>
    </TabPanel>
    <TabPanel Name="transposables" Background="Background.Dark" TextColor="TextColor.Light" Width="Width.Is100">
        <Table Responsive
               Narrow
               Borderless
               Striped
               Background="Background.Dark"
               TextColor="TextColor.Light">
            <TableHeader ThemeContrast="ThemeContrast.Dark" Width="Width.Is100">
                <TableRow>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Image</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Text</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Description</Heading>
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody Width="Width.Is100">
                <Repeater TItem="SymbologyDatum" Items="@_transposableSymbols" Context="transposableContext">
                    <TableRow>
                        <TableRowCell>
                            <Image data-src="@transposableContext.SvgUri" data-sizes="auto" Style="height:48px;width:48px;" Text="@transposableContext.English" Class="lazyload" />
                        </TableRowCell>
                        <TableRowCell>
                            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom" TextColor="TextColor.Light">@transposableContext.Symbol</Heading>
                        </TableRowCell>
                        <TableRowCell>
                            <Small TextColor="TextColor.Light">@transposableContext.English</Small>
                        </TableRowCell>
                    </TableRow>
                </Repeater>
            </TableBody>
        </Table>
    </TabPanel>
    <TabPanel Name="funny" Background="Background.Dark" TextColor="TextColor.Light">
        <Table Responsive
               Narrow
               Borderless
               Striped
               Background="Background.Dark"
               TextColor="TextColor.Light">
            <TableHeader ThemeContrast="ThemeContrast.Dark" Width="Width.Is100">
                <TableRow>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Image</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Text</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Description</Heading>
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody Width="Width.Is100">
                <Repeater TItem="SymbologyDatum" Items="@_funnySymbols" Context="funnyContext">
                    <TableRow>
                        <TableRowCell>
                            <Image data-src="@funnyContext.SvgUri" data-sizes="auto" Style="height:48px;width:48px;" Text="@funnyContext.English" Class="lazyload" />
                        </TableRowCell>
                        <TableRowCell>
                            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom" TextColor="TextColor.Light">@funnyContext.Symbol</Heading>
                        </TableRowCell>
                        <TableRowCell>
                            <Small TextColor="TextColor.Light">@funnyContext.English</Small>
                        </TableRowCell>
                    </TableRow>
                </Repeater>
            </TableBody>
        </Table>
    </TabPanel>
    <TabPanel Name="other" Background="Background.Dark" TextColor="TextColor.Light">
        <Table Responsive
               Narrow
               Borderless
               Striped
               Background="Background.Dark"
               TextColor="TextColor.Light">
            <TableHeader ThemeContrast="ThemeContrast.Dark" Width="Width.Is100">
                <TableRow>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Image</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Text</Heading>
                    </TableHeaderCell>
                    <TableHeaderCell>
                        <Heading Size="HeadingSize.Is2">Description</Heading>
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody Width="Width.Is100">
                <Repeater TItem="SymbologyDatum" Items="@_otherSymbols" Context="miscContext">
                    <TableRow>
                        <TableRowCell>
                            <Image data-src="@miscContext.SvgUri" data-sizes="auto" Style="height:48px;width:48px;" Text="@miscContext.English" Class="lazyload" />
                        </TableRowCell>
                        <TableRowCell>
                            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom" TextColor="TextColor.Light">@miscContext.Symbol</Heading>
                        </TableRowCell>
                        <TableRowCell>
                            <Small TextColor="TextColor.Light">@miscContext.English</Small>
                        </TableRowCell>
                    </TableRow>
                </Repeater>
            </TableBody>
        </Table>
    </TabPanel>
</Content>
</Tabs>
</Container>