@page "/"
<PageTitle>Home</PageTitle>
<Container Fluid Margin="Margin.Is2.OnY.OnFullHD.Is3.OnX.OnFullHD">
    <Row Flex="Flex.AlignItems.Center">
        <Column ColumnSize="ColumnSize.IsHalf">
            @if (_magicCard is null)
            {
                <Span>
                    <SpinKit Type="SpinKitType.Plane" Centered Color="#AF00BF" />
                </Span>
            }
            else
            {
                <Card 
                    Background="Background.Dark" 
                    TextColor="TextColor.Light" 
                    Border="Border.Is2.Rounded.Light.OnAll"
                    Shadow="Shadow.Default"
                    Flex="Flex.AlignItems.Center">
                    <CardHeader>
                        Random Card
                    </CardHeader>
                    <CardBody>
                        <CardImage 
                            Source="@_magicCard.ScryfallImageUri" 
                            Alt="@_magicCard.artist"
                            Margin="Margin.Is2.OnX"
                            Style="height:30em;width:auto;" 
                            Border="Border.Is1.Rounded.Light.OnAll"/>
                        <CardTitle>
                            @_magicCard.name
                        </CardTitle>
                        <CardSubtitle>
                            <Paragraph>Artwork by: @_magicCard.artist</Paragraph> 
                            <Paragraph>Set: @((MarkupString)_setName)</Paragraph>
                        </CardSubtitle>
                    </CardBody>
                    <CardBody>
                        @(_magicCard.flavorText ?? _magicCard.text)
                    </CardBody>
                    <CardFooter>
                        @_magicCard.colorIdentity
                    </CardFooter>
                </Card>
            }
        </Column>
    </Row>
    <Row Margin="Margin.Is2.FromTop" Flex="Flex.AlignItems.Center">
        <Column ColumnSize="ColumnSize.IsHalf">
            <Table Background="Background.Dark" 
                   Borderless 
                   Narrow
                   Responsive 
                   Resizable 
                   ResizeMode="TableResizeMode.Columns"
                   TextAlignment="TextAlignment.Center"
                   Border="Border.Is2.Rounded.Light.OnAll"
                   Shadow="Shadow.Default">
                <TableHeader ThemeContrast="ThemeContrast.Dark">
                    <TableRow>
                        <TableHeaderCell>
                            Sets Stored
                        </TableHeaderCell>
                        <TableHeaderCell>
                            Symbols Stored
                        </TableHeaderCell>
                        <TableHeaderCell>
                            Cards Stored
                        </TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody TextColor="TextColor.Light" TextWeight="TextWeight.Light">
                    <TableRow>
                        <TableRowCell>
                            @_setsStored
                        </TableRowCell>
                        <TableRowCell>
                            @_symbolsStored
                        </TableRowCell>
                        <TableRowCell>
                            @_cardsStored
                        </TableRowCell>
                    </TableRow>
                </TableBody>
            </Table>
        </Column>
    </Row>
</Container>
