@page "/rulings"
<Jumbotron Background="Background.Dark" 
           TextColor="TextColor.Light" 
           Margin="Margin.Is2.OnAll.OnWidescreen.Is4.OnY.OnMobile"
           Padding="Padding.Is1.OnAll.OnWidescreen.Is4.OnAll.OnMobile"
           Border="Border.Is2.Rounded.Light.OnAll">
    <JumbotronTitle Size="JumbotronTitleSize.Is1" TextColor="TextColor.Light">All the current rulings in the MTG Comprehensive rules</JumbotronTitle>
    <JumbotronSubtitle TextColor="TextColor.White50">Don't try to memorize them</JumbotronSubtitle>
</Jumbotron>
<Divider />
<Container Fluid 
           Background="Background.Dark"
           Margin="Margin.Is3.OnY.Is2.OnX.OnWidescreen.Is4.OnY.Is3.OnX.OnMobile"
           Padding="Padding.Is2.OnAll.OnWidescreen.Is3.OnAll.OnMobile"
           Border="Border.Is3.Rounded.Light.OnAll"
           Overflow="Overflow.Hidden">
    <DataGrid @ref="_dataGrid"
              TItem="Ruling"
              Class="table-dark border border-2 border-light rounded rounded-2 shadow"
              Narrow
              Responsive
              Hoverable
              Striped
              Sortable
              TotalItems="_rulingsCount"
              FixedHeader
              FixedHeaderDataGridHeight="400px"
              HeaderThemeContrast="ThemeContrast.Dark"
              Data="_rulings"
              ReadData="OnReadData"
              CommandMode="DataGridCommandMode.Commands"
              ShowPager
              ShowPageSizes
              PageSize="25"
              PageSizes="new []{10,15,25,50,100}"
              Margin="Margin.Is2.OnY.OnWidescreen.Is4.OnY.OnMobile">
        <EmptyTemplate>
            <Div TextColor="TextColor.Danger">
                No Rulings Found
            </Div>
        </EmptyTemplate>
        <LoadingTemplate>
            <Span>
                <SpinKit Type="SpinKitType.Grid" Size="3rem" Centered Color="#ff4a3d" /> 
                <Paragraph TextColor="TextColor.Light">Loading Results</Paragraph>
            </Span>
        </LoadingTemplate>
        <DataGridColumns>
            <DataGridNumericColumn HeaderCellClass="bg-dark" TItem="Ruling" Caption="#" Field="@nameof(Ruling.Id)" Sortable />
            <DataGridColumn HeaderCellClass="bg-dark" TItem="Ruling" Caption="Ruling Unique Id" Field="@nameof(Ruling.RulingGuid)" />
            <DataGridDateColumn HeaderCellClass="bg-dark" TItem="Ruling" Caption="Date Created" Field="@nameof(Ruling.CreatedAt)" Sortable />
            <DataGridColumn HeaderCellClass="bg-dark" TItem="Ruling" Caption="Rule Text" Field="@nameof(Ruling.RuleText)" />
        </DataGridColumns>
        <PageButtonTemplate>
            <Div TextColor="@(context.Active ? TextColor.White50 : TextColor.Light)" Class="text-decoration-underline">
                @context.PageNumer
            </Div>
        </PageButtonTemplate>
        <FirstPageButtonTemplate>
            <Div Class="previous-page-button">
                <Blazorise.Icon IconSize="IconSize.Default" IconStyle="IconStyle.Solid" Name="IconName.StepBackward"/>
                First
            </Div>
        </FirstPageButtonTemplate>
        <LastPageButtonTemplate>
            <Blazorise.Icon IconSize="IconSize.Default" IconStyle="IconStyle.Solid" Name="IconName.StepForward"/>
            Last
        </LastPageButtonTemplate>
        <NextPageButtonTemplate>
            <Blazorise.Icon IconSize="IconSize.Default" IconStyle="IconStyle.Solid" Name="IconName.Forward"/>
            Next
        </NextPageButtonTemplate>
        <PreviousPageButtonTemplate>
            <Div Class="previous-page-button">
                <Blazorise.Icon IconSize="IconSize.Default" IconStyle="IconStyle.Solid" Name="IconName.Backward"/>
                Previous
            </Div>
        </PreviousPageButtonTemplate>
        <TotalItemsTemplate><Badge Color="Color.Success">@context.TotalItems total items</Badge></TotalItemsTemplate>
        <ItemsPerPageTemplate></ItemsPerPageTemplate>
    </DataGrid>
</Container>
